@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300');
@import url('https://fonts.googleapis.com/css?family=Averia+Gruesa+Libre');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300');

/* UNIVERSAL CLASSES */

.img-container {
    display: block;
    padding: 0px 20px !important;
    margin: 20px 0px !important;
}

.img-container img {
    width: 100%;
}

ul li {
    color: black !important;
}

/* OVERRIDING CSS */

.md .theme-dark .page, 
.page.md .theme-dark,
.ios .theme-dark .page,
.page.ios .theme-dark {
    background: #fff;
}

.md .color-theme-black .timeline-item-date, 
.md .color-theme-black .timeline-month-title, 
.md .color-theme-black .timeline-year-title {
    background: #fff;
}

.ios .theme-dark .timeline-item-inner {
    background-color: #fff !important;
}

.md .color-theme-black .toolbar:not(.messagebar), 
.md .color-theme-black.toolbar:not(.messagebar),
.ios .theme-dark .toolbar, 
.toolbar.ios .theme-dark {
    background-color: white !important;
}

.toolbar:before,
.toolbar:after {
    display: none !important;
}

/* INDEX CSS */
.home-wallpaper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/Wallpaper Home.jpg");
    background-position: center;
    background-size: cover;
    filter: contrast(70%);
}

.title-navbar {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

.title-text {
    position: relative;
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 40pt;
    text-align: center;
    /* margin-top: 170px; */
    display: block;
    width: 80%;
    margin: auto;
    padding-top: 30%;
    line-height: 1.25;
}

.setting-text {
    position: relative;
    font-family: 'Comfortaa', cursive;
    color: white;
    font-size: 15pt;
    text-align: center;
    /* margin-top: 170px; */
    display: block;
    width: 80%;
    padding-top: 40px;
    margin: auto;
    line-height: 1.5;
}

.sidebar-text {
    font-family: 'Comfortaa', cursive;
}

div ul li.sidebar-white {
    background-color: #fff;
}

div ul li a {
    text-align: left !important;
}

.ios .theme-dark .list ul, 
.list.ios .theme-dark ul {
    background-color: transparent;
}

.sidebar-white:before, 
.sidebar-white:after
.list-button:after, 
.list-button:before {
    display: none !important;
}

.list-button.active-state {
    background-color: #d9d9d9 !important;
}

.white-icon {
    color: white;
}

.gray-icon {
    color: #535353;
}

.navbar-transparent {
    background-color: transparent !important;
}

/* BRIDE AND GROOM CSS */

.bag-text {
    font-family: 'Comfortaa', cursive;
    color: black;
    font-size: 15pt;
    text-align: center;
    display: block;
    width: 80%;
    padding-top: 40px;
    margin: auto;
    line-height: 1.5;
}

/* WEDDING PARTY CSS */

.wp-text {
    font-family: 'Comfortaa', cursive;
    color: black;
    font-size: 12pt;
    text-align: center;
    display: block;
    width: 80%;
    margin: auto;
    line-height: 1.5;
}

.swiper-slide {
    color: black;
}

.swiper-slide .block .list ul {
    /* height: 80%;
    overflow-y: scroll; */
}

.tab-link {
    font-size: 12px !important;
}

.tab-page-container {
    padding: 0px 20px;
    margin: 20px 0px;
}

.swiper-container {
    /* height: 100%; */
}

.attire-slide-title,
.location-slide-title,
.wedding-slide-title {
    display: none;
}

/* EVENTS CSS */

.timeline-item-date,
.timeline-item-date small,
.timeline-item-content,
.timeline-item-content div,
.timeline-item-content .timeline-item-inner {
    color: black !important;
}

.timeline-item-date {
    width: 70px !important;
}

/* ATTIRE CSS */

.att-text {
    font-family: 'Comfortaa', cursive;
    color: black;
    font-size: 12pt;
    text-align: center;
    display: block;
    width: 80%;
    padding-top: 40px;
    margin: auto;
    line-height: 1.5;
}

/* LOCATION CSS */

.loc-text {
    font-family: 'Comfortaa', cursive;
    color: black;
    font-size: 12pt;
    text-align: center;
    display: block;
    width: 80%;
    padding-top: 40px;
    margin: auto;
    line-height: 1.5;
}

.google-maps-resize {
    width: 100%;
}

/* FOOD MENU CSS */

.fm-text {
    font-family: 'Comfortaa', cursive;
    color: black;
    font-size: 12pt;
    text-align: center;
    display: block;
    width: 80%;
    margin: auto;
    line-height: 1.5;
}