@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300');
@import url('https://fonts.googleapis.com/css?family=Averia+Gruesa+Libre');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300');

/* INDEX CSS */
.home-wallpaper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/Wallpaper Home.jpg");
    background-position: center;
    background-size: cover;
    filter: contrast(70%);
}

.title-navbar {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

.title-text {
    position: relative;
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 40pt;
    text-align: center;
    /* margin-top: 170px; */
    display: block;
    width: 80%;
    margin: auto;
    padding-top: 30%;
    line-height: 1.25;
}

.setting-text {
    position: relative;
    font-family: 'Comfortaa', cursive;
    color: white;
    font-size: 15pt;
    text-align: center;
    /* margin-top: 170px; */
    display: block;
    width: 80%;
    padding-top: 40px;
    margin: auto;
    line-height: 1.5;
}

.sidebar-text {
    font-family: 'Comfortaa', cursive;
}

div ul li.sidebar-white {
    background-color: #fff;
}

div ul li a {
    text-align: left !important;
}

.ios .theme-dark .list ul, 
.list.ios .theme-dark ul {
    background-color: transparent;
}

.sidebar-white:before, 
.sidebar-white:after
.list-button:after, 
.list-button:before {
    display: none !important;
}

.list-button.active-state {
    background-color: #d9d9d9 !important;
}

.white-icon {
    color: white;
}

.navbar-transparent {
    background-color: transparent !important;
}

/* BRIDE AND GROOM CSS */

.bride-and-groom-wallpaper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/bride-and-groom.jpg");
    background-position: center;
    background-size: cover;
    filter: contrast(70%);
}

.b-a-g-text {
    position: relative;
    color: white;
    font-size: 40pt;
    text-align: center;
    /* margin-top: 170px; */
    display: block;
    width: 80%;
    margin: auto;
    padding-top: 30%;
    line-height: 1.25;
}